---
layout: default
---

<!-- ./_layouts/default.html 파일에 정의된 {{ content }} 영역으로 아래 내용들이 들어간다. -->
<section>
  <ul class="posts">
    <!-- This loops through the paginated posts -->
    {% for post in paginator.posts %}
      <li>
        <h2>
          <a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a>
        </h2>
        <p>
          <span class="date">{{ post.date | date: "%F %r" }}</span>
          <span class="description">{{ post.description }}</span>
          <!--<span class="description">{{ post.categories }}</span>-->
        </p>
        <ul class="tags cf">
          {% for category in post.categories %}
            <li><a href="/blog/search/?category={{ category }}">{{ category }}</a></li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
</section>
<section class="pagination">
  <!-- Pagination links -->
  {% include pagination.html %}
</section>
