---
layout: default
---

<!-- ./_layouts/default.html 파일에 정의된 \{\{ content \}\} 영역으로 아래 내용들이 들어간다. -->
<section>
  <ul class="posts">
    <!-- This loops through the paginated posts -->
    {% for post in paginator.posts %}
      <li>
          <header class="post-header">
            <h1 itemprop="name" class="post-title">
              <a itemprop="url" class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h1>
            <div class="tags cf">
              {% for category in post.categories %}
                <a href="{{site.baseurl}}/search/?category={{ category }}">{{ category }}</a>&nbsp;
              {% endfor %}
              <time itemprop="datePublished" datetime="{{ post.date | date: '%Y-%m-%d' }}">
                {{ site.locales[site.default_locale].PostDate }}{{ post.date | date: "%b %-d, %Y" }}
              </time>
            </div>
        </header>

        <article style="position: relative; width: 100%; height: 35rem; overflow-y: hidden; margin-bottom: 15px;">
          {{ post.content }}
        </article>
        <p style="text-align: right"><a href="{{ post.url | prepend: site.baseurl }}">Read more</a></p>
        <hr style="margin-bottom:30px; border:0; border-bottom: 1px dotted #ccc;" />
    </li>
  {% endfor %}
  </ul>
</section>
<section class="pagination">
  <!-- Pagination links -->
  {% include pagination.html %}
</section>
