/* Footer */
footer {
  font-size: small;
  color: #666;
  line-height: 2em;
  color: #858585;
  padding: 0 1em;
  text-align: center;
}

footer p {
  margin: 0;
}

footer .links {
  border: none;
}

footer .links li {
  display: inline;
  padding: 0 0.2em;
}

footer .links a:hover {
  text-decoration: none;
}
