.pagination {

  /*width: 100%;*/
  /*width: 100%;*/
  /*min-width: 400px;*/

  text-align: center;

  list-style-type: none;
  font-size: 0.9em;
  padding-left: 0;

  /*float: left;*/
}

.pagination li {
  position: relative;
  float: left;
  padding: 6px 12px;
}


.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {
  display: inline-block;
}
html[xmlns] .clearfix {
  display: block;
}
* html .clearfix {
  height: 1%;
}